<html>
  <body>
  
  <h2 align="center"> <font size="5"> <b>Add a new resource </b> </font></h2>
    {% if error %}
          <h5>  <font size="4">  {{error}} </font> </h5>  
        {% endif %}
		
		
    <form action="/add" method="post">
	<font size="4.5">  Resource Name: </font> <br>
        <input type="text" name="resource_name" required><br> 
	<font size="4.5"> 	Start time (HH:MM)  </font> <br>
        <input type="text" name="start" placeholder="02:00" required><br>
	<font size="4.5">  	End time (HH:MM)  </font> <br>
		<input type="text" name="end" placeholder="15:00" required><br>
	<font size="4.5"> 	Tags:  </font> <br>
		<input type="text" name="Tags" placeholder="tag1,tag2"><br>
		<font size="4.5">  Resource Description: </font> <br>
		<input type="text" name="description" ><br>

		<br>
      <div><input type="submit" value="Add Resource"></div>
    </form>
	
	<br>
	<br>
	  <font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
  </body>
</html>
