<html>
<body>
  <h2 align="center"> <font size="5"> <b>Edit the resource: {{ list1.Resource_name }} </b> </font></h2>
    {% if error %}
          <h5>  <font size="4">  {{error}} </font> </h5>  
        {% endif %}
		
    <form action="/edit" method="post">
	<font size="4.5">  Resource Name: </font> <br>
        <input type="text" name="r_name" value="{{ list1.Resource_name }}"required><br>
		<font size="4.5"> 	Start time (HH:MM)  </font> <br>
        <input type="text" name="start" value="{{ list1.Resource_start }}" required><br>
	<font size="4.5">  	End time (HH:MM)  </font> <br>
		<input type="text" name="end" value="{{ list1.Resource_end }}" required><br>
		<font size="4.5"> 	Tags:  </font> <br>
		<input type="text" name="Tags" value="{{ list2 }}"><br>
				<font size="4.5">  Resource Description:  </font> <br>
		<input type="text" name="description" value="{{ list1.Resource_description }}" ><br>
		
		<input type = "hidden" name= "Resource_ID" value="{{ list1.Resource_ID }}">
      <div><input type="submit" value="Edit Resource"></div>
    </form>
		<br>
	<br>
	  <font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
</html>
</body>