<html>
  <body> 
  
  <br>
<font size ="5"><b>You Have Successfully edited the Resource:  {{ newname }}</b></font>
<br>
<br>

<font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
  </body>
  </html>