
<html>
<head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
	text-align: center;
}
</style>
</head>

  <body>
 <table  style="width:100%">
 <caption><font size ="5"> <b> My Reservations [Sorted By Reservation Time] </b> </font></caption> <br>

 <tr>
 <th bgcolor="pink"><font size ="4.5"> Resource Name:</font></th>
 <th bgcolor="pink"><font size ="4.5"> Reserved By:</font></th>
 <th bgcolor="pink"><font size ="4.5">Reserved from:</font></th>
 <th bgcolor="pink"><font size ="4.5">Duration:</font></th>
 <th bgcolor="pink"><font size ="4.5">Reserved till:</font></th>
 <th bgcolor="pink"><font size ="4.5">Delete This Reservation</font></th>
 </tr>
 
 
 
 
 	{% for item1 in my_list %}
	<tr>
	<td> <font size ="4"> <a href="/resource?Resource_ID={{ item1.Resource_ID }}">{{ item1.Resource_name }} </a> </font> </td>
	<td> <font size ="4"> <a href="/user_handle?User_name={{ item1.User_ID }}">{{ item1.User_ID }} </a> </font></td>
	<td> <font size ="4">{{item1.Reservation_from}} </font> </td> 
	<td> <font size ="4">{{item1.Reservation_duration }} </font></td> 
	<td> <font size ="4">{{ item1.Reservation_endtime }} </font> </td>
	<td><font size ="4"><a href="/delete?Res_ID={{ item1.Reservation_ID }}"> <b>Delete This Reservation</b></a> </font> </td>
	
  </tr>
    {% endfor %}
	
</table>
<br>
<br>


 <table style="width:100%">
 <caption> <font size ="5"><b> My Resources: </b></font> </caption>
 <tr>
 <th bgcolor="pink"> <font size ="4.5">Resource Name: </font></th>
 <th bgcolor="pink"> <font size ="4.5">Resource timings: </font></th>
 <th bgcolor="pink"><font size ="4.5">Tags: </font></th>
  <th bgcolor="pink"><font size ="4.5">Resource Description </font></th>
  <th bgcolor="pink"><font size ="4.5">RSS </font></th>
 </tr>
 
	{% for item in list1 %}
	<tr>
	<td> <font size ="4"> <a href="/resource?Resource_ID={{ item.Resource_ID }}">{{ item.Resource_name }} </a> </font> </td>
	<td> <font size ="4"> {{ item.Resource_start }} to {{ item.Resource_end }} </a> </font> </td>
	<td>
        {% for a in item.Resource_tags %}
	
	<font size ="4">	<a href = "/tags?Tag_name={{a}}">{{a}}</a> </font>
	
		{% endfor %}
		</td>
		
		<td> <font size ="4"> {{ item.Resource_description }}  </a> </font> </td>
		<td> <font size ="4"> <a href="/rss?Resource_ID={{ item.Resource_ID }}">{{ item.Resource_name }}-RSS </a> </font> </td>
	</tr>
    {% endfor %}
	
</table>

<br>
<br>
 <table style="width:100%">
 <caption> <font size ="5"><b> Available Resources </b></font> </caption>
	
	 <tr>
 <th bgcolor="pink"> <font size ="4.5"> Resource Name: </font></th>
  <th bgcolor="pink"> <font size ="4.5">Resource timings: </font></th>
  <th bgcolor="pink"> <font size ="4.5">Resource owner: </font></th>
 <th bgcolor="pink"> <font size ="4.5"> Tags: </font> </th>
  <th bgcolor="pink"> <font size ="4.5"> Resource Description </font> </th>
  <th bgcolor="pink"><font size ="4.5">RSS </font></th>
 </tr>
		{% for items in list2 %}
       <tr>
	   <td>
<font size ="4">	   <a href="/resource?Resource_ID={{ items.Resource_ID }}">{{ items.Resource_name }}</a> </font>
	   </td>
	   <td> <font size ="4"> {{ items.Resource_start }} to {{ items.Resource_end }} </a> </font> </td>
	   <td> <font size ="4"> <a href="/user_handle?User_name={{ items.Resource_owner }}">{{ items.Resource_owner }} </a> </font></td>
	   <td>
	           {% for a in items.Resource_tags %}
			   
	<font size ="4">	<a href = "/tags?Tag_name={{a}}">{{a}}</a> </font>
		
		{% endfor %}
		
	   </td>
	   <td> <font size ="4"> {{ items.Resource_description }}  </a> </font> </td>
	   <td> <font size ="4"> <a href="/rss?Resource_ID={{ items.Resource_ID }}">{{ items.Resource_name }}-RSS </a> </font> </td>
	   </tr>
    {% endfor %}
	
	</table>
	
	<br>
	<br>
 <font size ="5"> <a href="/add"> <button type = "button"> Create a New Resource </button></a> </font><br>
  
   <font size ="4.5">    <h3 align="left" >Search By Resource Name:</h3> </font>
	  
      <form action="/search" method="post">
<font size ="4.5">	   Enter Resource Name: </font> <br>
        <input type="text" name="resource_name" required><br>
      <div><input type="submit" value="Search"></div>
    </form>
  

  
  <font size ="5"> <a href="/search_1"> <button type = "button"> Search by Availability </button></a> </font><br> 
  
<font size ="4.2">  <a href="{{ url|safe }}"> <button type = "button"> {{ url_linktext }}</button></a> </font>
  </body>
</html>
