<html>
  <body>   
  
    <h2 align="center"> <font size="5"> <b>Reserve this resource : {{ rid.Resource_name }}  </b> </font></h2>
    {% if error %}
          <h5>  <font size="4">  {{error}} </font> </h5>  
        {% endif %}

	<h2 align="left"> <font size="4"> <b> The resource timings are := {{ rid.Resource_start }}  to   {{ rid.Resource_end }} </b> </font></h2>	
	
   <form action="/reserve" method="post">
	  <font size="4.5"> 	Start time (YYYY-mm-dd HH:MM)  </font> <br>
        <input type="text" name="start_time" placeholder="2015-12-31 12:00" required><br>
	<font size="4.5">  	Duration (HH:MM)  </font> <br>
        <input type="text" name="duration" placeholder="2:30" required><br>
		
        <input type = "hidden" name= "uid" value="{{ rid.Resource_ID }}">
		<input type = "hidden" name= "start" value="{{ rid.Resource_start }}">
		<input type = "hidden" name= "end" value="{{ rid.Resource_end }}">
		<input type = "hidden" name= "name" value="{{ rid.Resource_name }}">
      <div><input type="submit" value="Reserve"></div>
    </form>
	<br>
	<br>
	  <font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
  </body>
</html>