<html>

<head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
	text-align: center;
}
</style>
</head>

  <body>
     <table  style="width:100%">
 <caption><font size ="5"> <b> Resource Details for <a href="/resource?Resource_ID={{ rid.Resource_ID }}">{{ rid.Resource_name }}</a> : </b> </font></caption> <br>

  
  <tr>
   <th bgcolor="pink"><font size ="4.5"> Resource Name: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource timing: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource Owner: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource Tags: </font></th>
  <th bgcolor="pink"><font size ="4.5"> Resource Description: </font></th>
  <th bgcolor="pink"><font size ="4.5">RSS </font></th>
  
  </tr>
  

<td> <font size ="4"> <a href="/resource?Resource_ID={{ rid.Resource_ID }}">{{ rid.Resource_name }}</a> </font></td>
<td> <font size ="4"> {{ rid.Resource_start }} to {{ rid.Resource_end }} </font></td>
<td> <font size ="4"> <a href="/user_handle?User_name={{ rid.Resource_owner }}">{{ rid.Resource_owner }} </a> </font></td>
	<td>
        {% for a in rid.Resource_tags %}
	
	<font size ="4">	<a href = "/tags?Tag_name={{a}}">{{a}}</a> </font>
	
		{% endfor %}
		</td>
	 <td> <font size ="4"> {{ rid.Resource_description }} </font> </td>	
   <td> <font size ="4"> <a href="/rss?Resource_ID={{ rid.Resource_ID }}">{{ rid.Resource_name }}-RSS </a> </font> </td>
	
	</table>
	
	
	
   <table  style="width:100%">
 <caption><font size ="5"> <b> Current and Upcoming Reservations for <a href="/resource?Resource_ID={{ rid.Resource_ID }}">{{ rid.Resource_name }}</a> : </b> </font></caption> <br>

  
  <tr>
   <th bgcolor="pink"><font size ="4.5"> Reserved By: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Reservation Start Time: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Reservation End Time: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Duration: </font></th>
  
  </tr>
  
	{% for item in list1 %}
	<tr>
<td> <font size ="4"> <a href="/user_handle?User_name={{ item.User_ID }}">{{ item.User_ID }} </a> </font></td>
<td> <font size ="4"> {{ item.Reservation_from }} </font></td>
<td> <font size ="4"> {{ item.Reservation_endtime }} </font></td>
<td> <font size ="4"> {{item.Reservation_duration }} </font></td>
		
	</tr>	
    {% endfor %}
	
	</table>
	<br>
	<br>
	
	
	
	   <table  style="width:100%">
<tr>
 <th bgcolor="pink"><font size ="5"> <b>Total number of reservations for this resource: </b> </font></th>

</tr>
	<td><font size ="5">{{ length }}</font></td>
	</table>
	
	
	
	
 <br>
 <br>
  
 <font size ="4.8"> <a href="/reserve?Resource_ID={{rid.Resource_ID}}"> <button type = "button">RESERVE THIS RESOURCE</button> </a> </font> <br>
 <br>
 
  <font size ="4.8"> <a href="/edit?Resource_ID={{rid.Resource_ID}}"><button type = "button"> EDIT RESOURCE </button></a> </font>

  
  
  <br>
  <br>

  <font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
  
  
  
  
  
  </body>
</html>