
<!DOCTYPE html>

<html>

	<body>
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<span>&lt;Resource&gt;</span><br>
		<span style="margin-left:40px">&lt;ResourceName&gt;{{ rname }}&lt;/ResourceName&gt;</span><br>
		<span style="margin-left:40px">&lt;Reservations&gt;</span><br>
			
			{% for item in list1 %}
				<span style="margin-left:80px">&lt;Reservation&gt;</span><br>
				<span style="margin-left:120px">&lt;Reserved by&gt; {{ item.User_ID }} &lt;/Reserved by&gt; </span><br>
				<span style="margin-left:120px">&lt;Reserved From&gt; {{ item.Reservation_from }} &lt;/Reserved From&gt; </span><br>
				<span style="margin-left:120px">&lt;Reserved Till&gt; {{ item.Reservation_endtime }} &lt;/Reserved Till&gt; </span><br>
				<span style="margin-left:80px">&lt;/Reservation&gt; </span><br>
			{% endfor %}	
			
		<span style="margin-left:40px">&lt;/Reservations&gt; </span><br>

<span>&lt;/Resource&gt;</span><br>
</rss>
	</body>
</html>