<html>
<head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
	text-align: center;
}
</style>
</head>
  <body> 
   <table  style="width:100%">
 <caption><font size ="5"> <b> Resources with the given name: '{{ name }}' </b> </font></caption> <br>
  <tr>
   <th bgcolor="pink"><font size ="4.5"> Resource Name: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource Owner: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource timings: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource tags: </font></th>
  
  </tr>
  
		{% for items in list1 %}
<tr>
	  <td> <font size ="4"> <a href="/resource?Resource_ID={{ items.Resource_ID }}">{{ items.Resource_name }}</a> </font></td>
		<td> <font size ="4"> <a href="/user_handle?User_name={{ items.Resource_owner }}">{{ items.Resource_owner }} </a> </font></td>
		<td> <font size ="4"> {{ items.Resource_start }} to {{ items.Resource_end }} </font></td>
		<td>
	           {% for a in items.Resource_tags %}
			   
		<a href = "/tags?Tag_name={{a}}">{{a}}</a>
		
		{% endfor %}
</td>
</tr>
    {% endfor %}
	
</table>
		<br>
	<br>
	  <font size = "5">  <a href="/">Go Back to Main Page!</a> </font>	
  </body>
  </html>