<html>
  <body>
  
  <h2 align="center"> <font size="5"> <b>Add a new resource </b> </font></h2>
    {% if error %}
          <h5>  <font size="4">  {{error}} </font> </h5>  
        {% endif %}      

	  <form action="/search_1" method="post">
<font size ="4.5">	   Enter Start Time: </font> <br>
        <input type="text" name="start_Time" required><br>
	<font size ="4.5">	   Enter Duration: </font> <br>	
	  <input type="text" name="duration" required><br>
      <div><input type="submit" value="Search"></div>
    </form>
	
		<br>
	<br>
	  <font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
  </body>
</html>
