<html>
<head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
	text-align: center;
}
</style>
</head>
  <body> 
  
   <table  style="width:100%">
 <caption><font size ="5"> <b> All resources with available during the time specified: </b> </font></caption> <br>
  
    <tr>
   <th bgcolor="pink"><font size ="4.5"> Resource Name: </font></th>
   <th bgcolor="pink"><font size ="4.5"> Resource timings: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource Owner: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource tags: </font></th>
  </tr>

  
  
  	{% for item in list1 %}
	
	<tr>
<td> <font size ="4"> <a href="/resource?Resource_ID={{ item.Resource_ID }}">{{ item.Resource_name }} </a> </font> </td>
<td> <font size ="4"> {{ item.Resource_start }} to {{ item.Resource_end }} </font> </td>
<td> <font size ="4"> <a href="/user_handle?User_name={{ item.Resource_owner }}">{{ item.Resource_owner }} </a> </font></td>
<td>
		 {% for a in item.Resource_tags %}
		 
<font size ="4">	<a href = "/tags?Tag_name={{a}}">{{a}}&nbsp</a> </font>
		 {% endfor %}
</td>		 
	</tr>
    {% endfor %}
	
	</table>
	<br>
	<br>
	
<font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
  

  </body>
  </html>