<html>

<head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
	text-align: center;
}
</style>
</head>





<body>

<h2 align="center"> <font size="5"> <b>Showing Details about User:  {{ username }} </b> </font></h2>

  <table  style="width:100%">
 <caption><font size ="5"> <b> The Resources Owned by User : {{ username }} </b> </font></caption> <br>

  
  <tr>
   <th bgcolor="pink"><font size ="4.5"> Resource Name: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource owner: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Resource description: </font></th>
 
 <th bgcolor="pink"><font size ="4.5"> Resource tags: </font></th>
  
  </tr>

	{% for item in list1 %}
	<tr>
<td> <font size ="4"> <a href="/resource?Resource_ID={{ item.Resource_ID }}">{{ item.Resource_name }} </a> </font> </td>
   <td> <font size ="4"> <a href="/user_handle?User_name={{ item.Resource_owner }}">{{ item.Resource_owner }} </a> </font></td>
   <td> <font size ="4"> {{ item.Resource_description }} </font></td>
   <td>
   
   		 {% for a in item.Resource_tags %}
		 
	<font size ="4">	<a href = "/tags?Tag_name={{a}}">{{a}}&nbsp</a> </font>
		 {% endfor %}
   </td>
   </tr>
    {% endfor %}
	
	</table>
	<br>
	<br>
	
	<table  style="width:100%">
 <caption><font size ="5"> <b> USER RESERVATIONS for User : {{ username }} </b> </font></caption> <br>

  
  <tr>
   <th bgcolor="pink"><font size ="4.5"> Resource Name: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Reservation's User ID: </font></th>
 <th bgcolor="pink"><font size ="4.5"> Reservation from: </font></th>
  <th bgcolor="pink"><font size ="4.5"> Reservation till: </font></th>
  
  </tr>
	
	
	
	{% for items in list2 %}
	<tr>
<td> <font size ="4"> <a href="/resource?Resource_ID={{ items.Resource_ID }}">{{ items.Resource_name }} </a> </font> </td>
<td> <font size ="4"> <a href="/user_handle?User_name={{ items.User_ID }}">{{ items.User_ID }} </a> </font></td>
	<td> <font size ="4"> {{ items.Reservation_from }} </font></td>
	<td> <font size ="4"> {{ items.Reservation_endtime }} </font></td>

   
   </tr>
    {% endfor %}	
	
	</table>
		<br>
	<br>
	
<font size = "5">  <a href="/">Go Back to Main Page!</a> </font>
</body>
</html>